<div class="m-5 "> 
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
        <div>
          <div class="toast-header">
            <p>Envoyé par <%= user.email %><%= message.message_time %></p>
          </div>
          <div class="toast-body">
            <%= message.body %>
          </div>
        </div>
    <% end %>
  <% end %>
</div >

<div> 
  <%= form_for [@conversation, @message] do |f| %>
    <%= f.text_area :body, class:"form-control" %>
    <%= f.text_field :user_id, class:"form-control", value: current_user.id, type: "hidden" %>
    <%= f.submit "Répondre" %>
  <% end %>
</div>
