<div class="row">
  <div class="col-md-5 m-auto">
    
  <h2 class="mb-3 text-center">Modifier mes coordonnées <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field form-group">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Actuellement en attente de confirmation pour : <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="field form-group">
      <%= f.label :password, "Mot de passe" %><i>(laisser en blanc si vous ne voulez pas le changer)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> caractères minimum</em>
      <% end %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation, "Comfirmation du mot de passe" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :current_password, "Mot de passe actuel" %> <i>(nous avons besoin de votre mot de passe actuel pour confirmer les changements)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>
    <br>

    <div class="actions text-center">
      <%= f.submit "Modifier", class: "my-btn my-btn col-md-12" %>
    </div>
  <% end %>
  <br>

  <h3>Annuler mon compte</h3>

  <p>Malheureux ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "my-btn my-btn col-md-12" %></p>

  <%= link_to "Retour", :back, class:"my-link" %>

  </div>
</div>