<div>
    <% @messages.each do |message|  %>
        <p><%= message.body%></p>
        <p><%= message.user.full_name%></p>
    <% end %>
</div>


<h2> Nouveau message </h2>
    
<%= form_tag(conversation_messages_path(@conversation.id), method: "post" ) do %>
    <div>
      <%= text_field_tag :body %>
    </div>
    <div>
      <%= submit_tag "Répondre", class: "my-btn my-btn " %>
    </div>
<% end %>


