<%= form_with(model: space, local: true) do |form| %>
  <% if space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :zip_code, "Code postal" %>
    <%= form.text_field :zip_code, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= form.label :city, "Ville" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>
  <div><%= select_tag 'Catégorie', options_from_collection_for_select(Category.all, "id", "name"), class: "form-control"%><br></div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
