<div class="my-list-group space-container">
  <ul>
    <% @spaces.each do |space| %>
      <li class="d-flex align-items-center py-2 card-wrapper">
        <%= link_to space_path(space.id) do %>
          <div class=" d-flex card-responsive">
            <div>
              <%= image_tag space.images.first,  width: "450vw"; %>
            </div>
            <div class="card-body ">
              <h3 class="card-title"><%= space.title %></h3>
              <p class="fs-5 pt-2"><%= truncate space.description, length: 60, separator: /\s/ %></p>
              <div class="d-flex align-items-baseline">
                <span class="my-text-primary"><%=space.city%></span>
                <% space.join_space_categories.each do |join| %>
                  <span class="mx-3 my-badge my-badge-sm"><%=join.category.name %></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end%>
      </li>
    <%end%>
  </ul>
</div>

