<div class="my-list-group">
  <ul>
    <% @spaces.each do |space| %>
      <li class="d-flex align-items-center py-2">
        <%= image_tag space.images.first, height: "250vh" %>
        <div class="card-body">
          <h3><%= space.title %></h3>
          <p class="fs-5 pt-2"><%= space.description %></p>
            <div class="d-flex align-items-baseline">
              <%= link_to space.city, "#", class:"my-link my-link-lg pe-3" %>
              <% space.join_space_categories.each do |join| %>
                <%= link_to join.category.name, "#", class:"my-link my-link-lg" %>
              <% end %>
            </div>
          <div class="pt-5">
            <%= link_to "Voir plus", space_path(space.id), class:"my-btn" %>
          </div>
        </div>
      </li>
    <%end%>
  </ul>
</div>
