<section class="jumbotron text-center background-image p-5">
  <div class="p-5">
    <h1 class="my-text-light pb-3">Nos espaces</h1>
    <p class="my-text-light p-3">Découvrez nos espaces de créations adaptés à toutes vos activités artistiques: peinture, sculpture, photographie, musique, danse ... </p>
    <%= link_to "S'inscrire", new_user_registration_path, class:"my-btn" if user_signed_in? == false %>
  </div>
</section>


<div class="container-fluid">
  <div class="py-5">
    <p class="fs-4 my-font-primary text-center">Rechercher un espace</p>
    <div class="d-flex justify-content-center">
      <%= form_tag(spaces_path, method: :get, remote: true ) do %>
        <div class="input-group">
          <%= select_tag 'category', options_from_collection_for_select(Category.all, "id", "name"), include_blank: "Choisir une catégorie", class: "form-select" %>
          <%= text_field_tag(:city, params[:city], placeholder: "Saisir une ville", class: "form-control") %>
          <%= submit_tag "Rechercher", class: "my-btn-secondary form-control" %> 
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="col-12 px-3 pt-3">
    <div class="d-flex flex-colunm my-border-top-secondary my-border-bottom-secondary">
    <div id="test" class="col-md-6">
      <%= render 'index', space: @space %>
    </div>
    <div class="col-md-6">
      <div id="map-container">
      </div>
    </div>
    </div>
  </div>
</div>

 
<script>
  getMap(<%= @spaces.to_json.html_safe %>);
</script>