<section class="jumbotron text-center background-image">

  <div class="container">
    <h1> Nos espaces </h1>
    <br>
    <p class="lead text-muted">Découvrez nos espaces de créations adaptés à toutes vos activités artistiques: peinture, sculpture, photographie, musique, danse ... </p>
    <br>
    <p>
    <%= link_to "S'inscrire", new_user_registration_path, class:"my-btn-blue-light my-btn-blue-light-lg" %>
  </p>
  </div>
</section>

<div class="text-center">
  <h4>Rechercher un espace</h4>
  <div class="d-flex justify-content-center">
    <div class="mx-2 d-flex justify-content-center">
      <%= form_tag(spaces_path, method: :get, remote: true ) do %>
        <%= select_tag 'category', options_from_collection_for_select(Category.all, "id", "name"), include_blank: "Rechercher par catégorie " , class: "form-control"%>
        <%=  text_field_tag(:city, params[:city], placeholder: "Saisissez une ville", class: "form-control") %>
        <%= submit_tag "Rechercher", class: "form-control" %> 
      <% end %>
    </div>
  </div>
</div>

<br><br><br>
<%= link_to 'Proposer un espace', new_space_path %>

<div id="test">
  <%= render 'index', spaces: @spaces %> 
</div>
 
