<div class="container">
  <div class="row justify-content-center">
    <div class=" col-md-6">
      <div class="card my-border-card" >
        <div class="card-body">
          <div class="flat-content">
            <div>
              <% @space.images.each do |image| %>
              <%= image_tag image, width: 500 %>
              <% end %>
            </div>
          </div>
          <p class="card-title my-font-primary fs-4"><%= @space.title %></p>
          <p class="card-text"><%= @space.description %></p>
          <p class="card-text my-lead"><%= @space.city %></p>
          <p class="card-text">Hôte: <%= @space.host.first_name %> <%= @space.host.last_name %></p>
          <p class="card-text">Prix: <%= @space.price %> €/h </p>
        </div>
      </div>
  </div>

    <div class="d-flex justify-content-end">
      <h3>
        <span class="badge badge-light text-dark"> 
          <% @space.join_space_categories.each do |join| %>
            <%= join.category.name %>
          <% end %>
        </span>
      </h3>
    </div>
    <hr class="my-4">
    <div class="mx-auto p-2 my-2 d-flex justify-content-end">
      <div class="mx-auto d-flex justify-content-center">
        <%= form_tag(checkout_create_path, method: "post", remote: true) do %>
          <h2 class="mb-4">Réserver cet espace</h2>
          <div class="my-4"><%= date_field_tag 'start_date', @booking.start_date, class:"form-control", required: true %></div>
          <div class="my-4"><%= label_tag 'duration', 'Pour combien d\'heure(s) ?' %></div>
          <div class="my-4"><%= number_field_tag('duration', @booking.duration, options = { value: 1, min: 1, max: 10, step: 1}) %></div>
          <%= hidden_field_tag 'total', @space.price %>
          <%= hidden_field_tag 'space_id', @space.id %>
          <% if user_signed_in? %>
            <div><%= button_to "Je réserve", checkout_create_path, class:"my-btn" %></div>
          <% else %>
            <div><%= link_to "Je réserve", new_user_session_path, class:"my-btn" %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <h2>Tous les commentaires</h2>
      <div><% @space.comments.sort_by(&:created_at).each do |comment| %>
  <div class="card bg-light text-right my-2">
    <div class="card-header ">
      <p ><%= comment.content %></p>
      <footer>
        <strong><%= link_to "#{comment.user.first_name} "+ " " +" #{comment.user.last_name}", user_path(comment.user.id) %></strong>
          <cite title="Source Title">
          
            <% if user_signed_in?  && current_user.id == comment.user_id  %>
              <%= link_to "Supprimer", space_comment_path(@space.id, comment.id), class:"badge badge-danger", data:{confirm:"Etes vous sûr de vouloir supprimer ce commentaire?", method:"DELETE"} %>
            <% end %>
            
         
          </cite>
      </footer>
    </div>
  </div>
<% end %>
</div>
    <h2>Votre commentaire:</h2>
    
      <%= form_for([@space, @space.comments.build]) do |f| %>
       
        <p>
          <%= f.label :content, "le contenu" %><br />
          <%= f.text_area :content %>
        </p>
        <p>
        <% if user_signed_in? %>
          <%= f.submit "Valider" %>
        </p>
        <% else %>
            <%= link_to "valider", new_user_session_path, class:"my-btn" %>
          <% end %>
      <% end %>


   
    <div>
      <% if user_signed_in? && current_user.id == @space.host_id %>
      <%= link_to 'Modifier', edit_space_path(@space) %> 
      <% end %>
      <%= link_to 'Retour', spaces_path, class:"my-link" %>  
    </div>
  </div>    
</div>



