<div class="row justify-content-center">
  <div class=" col-md-6">
    <div class="card text-center pt-4" >
      <div class="card-body">
        <div class="flat-content">
          <div>
            <% @space.images.each do |image| %>
              <%= image_tag image, height: 500, width: 500 %>
            <% end %>
          </div>
        </div>
        <p class="card-title">Titre: <%= @space.title %></p>
        <p class="card-text">Description: <%= @space.description %></p>
        <p class="card-text">Ville: <%= @space.city %></p>
        <p class="card-text">Hôte: <%= @space.host.first_name %> <%= @space.host.last_name %></p>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <h3>
        <span class="badge badge-light text-dark"> 
          <% @space.join_space_categories.each do |join| %>
            <%= join.category.name %>
          <% end %>
        </span>
      </h3>
    </div>

    <br>
    <% if user_signed_in? && current_user.id == @space.host_id %>
    <%= link_to 'Modifier', edit_space_path(@space) %> 
    <% end %>
    <%= link_to 'Retour', spaces_path, class:"my-link" %>  

  </div>    
</div>



