<%= form_with(model: user, local: true) do |form| %>
  <div class="form-group">
    <%= form.label "Prénom" %></br>
    <%= form.text_field :first_name, class:"form-control" %>
  </div></br>

  <div class="form-group">
    <%= form.label 'Nom' %></br>
    <%= form.text_field :last_name, class:"form-control" %>
  </div></br>

  <div class="form-group">
    <%= form.label 'Téléphone' %></br>
    <%= form.text_field :phone_number, class:"form-control" %>
  </div></br>

  <div class="form-group">
    <%= form.label 'Description' %></br>
    <%= form.text_area :description, class:"form-control" %>
  </div></br>

  <div class="form-group">
    <%= form.label :avatar, "Choisir une image de profil", required: true %>
    <%= form.file_field :avatar, class: "form-control" %>
  </div></br>

  <div class="actions text-center">    
    <%= submit_tag "Modifier mes informations", class:"my-btn col-md-12" %>
  </div>
  <br>

  <%= link_to "Retour", :back, class:"my-link" %>
  
<% end %> 