<div class="row">
  <div class="col-md-5 m-auto">
   
    <h2 class="mb-3 text-center">Changer son mot de passe</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field form-group">
        <%= f.label :password, "Nouveau mot de passe" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <br>

      <div class="actions text-center">
        <%= f.submit "Changer mon mot de passe", class: "my-btn my-btn col-md-12" %>
      </div>
    <% end %>
    <br>

    <%= render "devise/shared/links" %>

  </div>
</div>