<section class="jumbotron min-vh-100 background-image d-flex justify-content-center align-items-center mb-5">
  
  <div class="text-center">
    <h1 class="text-white pb-5">Réservez votre espace de création artistique</h1>
   <%= link_to "S'inscrire", new_user_registration_path, class:"my-btn" if user_signed_in? == false %>
  </div>
</section>

<div class="container-fluid">
  <div class="px-4 py-5">
    <div class="d-flex justify-content-center">
      <div class="col-10 my-border-primary text-center">
        <div class="card-body p-4">
          <h2 class="my-text-primary p-4">Libérez votre créativité</h2>
          <h3 class="my-lead p-4">Vous manquez de place, de matériel pour pratiquer votre activité artistique ?
          Réservez dès maintenant un créneau dans l'espace dont vous avez besoin.</h3>
          <p class="fs-4 p-4">Musique, peinture, photographie, danse ... Découvrez tous les espaces disponibles.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <h2 class="text-center text-divider"><span>Nos catégories</span></h2>
</div>

<div class="container-fluid">
  <div class="px-4 py-5">
    <div class="d-flex justify-content-center align-items-baseline flex-wrap">
      <div class="col-md-1 d-flex flex-column align-items-center my-anim-scale me-5">
        <%= link_to image_tag("pictos/party-people.svg", width: 100, class:"my-svg-color pb-3"), spaces_path %>
        <h5>Danse</h5>
      </div>
      <div class="col-md-1 d-flex flex-column align-items-center my-anim-scale m-5">
        <%= link_to image_tag("pictos/hand-saw.svg", width: 100, class:"my-svg-color pb-3"), spaces_path %>
        <h5>Menuiserie</h5>
      </div>
      <div class="col-md-1 d-flex flex-column align-items-center my-anim-scale m-5">
        <%= link_to image_tag("pictos/stave.svg", width: 90, class:"my-svg-color pb-3"), spaces_path %>
        <h5>Musique</h5>
      </div>
      <div class="col-md-1 d-flex flex-column align-items-center my-anim-scale m-5">
        <%= link_to image_tag("pictos/paint-palette-and-brush.svg", width: 90, class:"my-svg-color pb-3"), spaces_path %>
        <h5>Peinture</h5>
      </div>
      <div class="col-md-1 d-flex flex-column align-items-center my-anim-scale m-5">
        <%= link_to image_tag("pictos/camera.svg", width: 90, class:"my-svg-color pb-3"), spaces_path %>
        <h5>Photographie</h5>
      </div>
      <div class="col-md-1 d-flex flex-column align-items-center my-anim-scale m-5">
        <%= link_to image_tag("pictos/clay-crafting.svg", width: 90, class:"my-svg-color pb-3"), spaces_path %>
        <h5 class="text-center">Sculpture  Poterie</h5>
      </div>
      <div class="col-md-1 d-flex flex-column align-items-center my-anim-scale ms-5">
        <%= link_to image_tag("pictos/video-camera.svg", width: 90, class:"my-svg-color pb-3"), spaces_path %>
        <h5>Vidéo</h5>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <h2 class="text-center text-divider"><span>Pour les artistes ...</span></h2>
</div>

<div class="container-fluid">
  <div class="col-10 m-auto px-4 py-5">
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="col-md-4 ">
          <%= image_tag("pictos/artist.svg", width: "100%" ) %>
        </div>
        <div class="col-md-8 p-3">
          <div class="card-body">
            <h3 class="card-title">Tu es un artiste, mais tu n'as pas d'espace pour créer.</h3>
            <p class="card-text fs-5">
              Tu as des idées de projets artistiques plein la tête mais tu manques de place pour les réaliser ?
              STUDIO te permet de louer un espace adapté à tes besoins, pour quelques heures.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <h2 class="text-center text-divider"><span>... et ceux qui les révèlent</span></h2>
</div>

<div class="container-fluid">
  <div class="col-10 m-auto px-4 py-5">
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="col-md-8 p-3">
          <div class="card-body">
            <h3 class="card-title">Tu disposes d'un espace de création et tu aimerais le partager.</h3>
            <p class="card-text fs-5">
              Tu possèdes un espace adapté à une pratique artistique ?
              STUDIO te permet de mettre en ligne ton annonce pour louer ton espace, selon tes disponibilités.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <%= image_tag("pictos/host.svg", width: "100%") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <h2 class="text-center text-divider"><span> Découvrez nos espaces </span></h2>
</div>

<div class="container">
<div class="row">
  <% @spaces.each do |space| %>
  <div class="col-md-6 col-lg-4 py-3 card-wrapper">
      <%= link_to space_path(space.id) do %>
      <div class="card h-100 my-card-hover my-card-hover:hover my-border-card">
        <%= image_tag space.images.first, width: "100%", height: "300px" %>
        <div class="card-body px-4">
          <h4 class="card-title"><%= space.title %></h4>
          <p class="card-title"><%= space.description %></p>
          <p class="card-text my-lead"><%= space.city %></p>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
</div>