<div class="container mb-5">
    <div class="row ">
        <div class="d-flex justify-content-center">
        <div class="col-10  ">
            <div class="section-title title-left text-center text-lg-left">
                <h3 class="title-team">Notre équipe</h3>
                <p class="paragraph-team">Avec STUDIO, nous voulons créer le premier réseau artistique de France enconnectant les  artistes entre eux, pour former une communauté réunie autour d’une même passion : l’Art.</p>
            </div>
        </div>
        </div>
    </div>

    <div class="row ">
        <div class="justify-content-center d-flex flex-wrap">
            <div class="col-md-6 col-lg-4 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center ">
                        <span class="img-holder d-inline-block ">
                           <%=image_tag("space/photo.jpg")%>
                        </span>
                    </div>        
                     <div class="team-content">
                        <h5 class="mb-2">Perrine <br>Toubeau</h5>
                        <p class="text-uppercase mb-0">Senior Developer</p> 
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center">
                        <span class="img-holder d-inline-block">
                            <%=image_tag("space/musique.jpg")%>
                        </span>
                    </div>
                    <div class="team-content">
                        <h5 class="mb-2">Morgane <br>Tessier</h5>
                        <p class="text-uppercase mb-0">UI/UX Designer</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center">
                        <span class="img-holder d-inline-block">
                            <%=image_tag("space/peinture.jpg")%>                         
                        </span>
                    </div>
                    <div class="team-content">
                        <h5 class="mb-2">Carole <br> Meney</h5>
                        <p class="text-uppercase mb-0">CEO</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center">
                        <span class="img-holder d-inline-block">
                            <%=image_tag("space/danse2.jpg")%>
                        </span>
                    </div>
                    <div class="team-content">
                        <h5 class="mb-2">Erwann <br>Le Noac'h</h5>
                        <p class="text-uppercase mb-0">UI/UX Designer</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-30">
                <div class="team-item">
                    <div class="mb-30 position-relative d-flex align-items-center">
                        <span class="img-holder d-inline-block">
                            <%=image_tag("space/danse.jpg")%>
                        </span>
                    </div>
                    <div class="team-content">
                        <h5 class="mb-2">Florence <br> Perez</h5>
                        <p class="text-uppercase mb-0">UI/UX Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    
    
